.box{
   width: 300px;
   height: 300px;
   border: 3px solid darkgray;
   overflow-y: auto;
}
/* #box-1{
   overflow: scroll;
   overflow-x: hidden;
} */
 .ellipsis{
   width: 300px;
   white-space: nowrap;
   border: 2px solid gray;
   overflow: hidden;
   text-overflow: ellipsis;
 }