.box{
   width: 100px;
   height: 100px;
   border: 2px solid cornflowerblue;
   background-color: brown;
   /* Trasition property: property name| duration| easing function | delay */
   /* transition: width 5s linear 3s, background-color 3s  ease-in; */
   transition: transform 1s;
}
.box:hover{
   transform: rotate(45deg) scale(1.5);
   /* width: 400px; */
   background-color: blanchedalmond;
}