.container, .inner{
   width: 200px;
   height: 200px;
}
.container{
   border: 2px solid steelblue;
   background-color: aquamarine;
}
.inner{
   border: 2px solid brown;
   background-color: palegoldenrod;
   /* transform: scale(0.25, 0.5); */
   /* /* transform: rotate(45deg); */
   /* transform: translateX(30px);
   transform: scale(0.5); Will do overwrite the firs one so try doing in one section */
   /* transform: scale(0.5) rotate(45deg) translateX(100px); */
}
.inner:hover{
   transform: translateY(-30px) scale(0.5) rotate(45deg);
}